USE [master]
GO
/****** Object:  Database [SAMSHM]    Script Date: 06-01-2021 15:46:10 ******/
CREATE DATABASE [SAMSHM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAMSBRANCH', FILENAME = N'E:\sqldbs\SAMSHM.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SAMSBRANCH_log', FILENAME = N'E:\sqldbs\SAMSHM_log.ldf' , SIZE = 8384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAMSHM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAMSHM]
GO
/****** Object:  User [BLOSSOMS-PC\BLOSSOMS]    Script Date: 06-01-2021 15:46:10 ******/
CREATE USER [BLOSSOMS-PC\BLOSSOMS] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [BLOSSOMS-PC\BLOSSOMS]
GO
/****** Object:  UserDefinedFunction [dbo].[getbillamount]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getbillamount](@salesid  int) returns float 
as
begin
declare @dis as float
select @dis=SUM(BillAmount) from Sales where SalesID =@salesid 
return @dis
end

GO
/****** Object:  UserDefinedFunction [dbo].[getdiscount]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getdiscount](@salesid  int) returns float 
as
begin
declare @dis as float
select @dis=SUM(DiscountAmount) from Sales where SalesID =@salesid 
return @dis
end

GO
/****** Object:  UserDefinedFunction [dbo].[gettax]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[gettax](@salesid  int) returns float 
as
begin
declare @tax as float
select @tax=SUM(taxamount) from SaleDetails where SaleID =@salesid 
return @tax
end

GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookingDetails](
	[BookingDetailId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NULL,
	[RoomId] [int] NULL,
	[RoomRent] [float] NULL,
	[ExtraBedAmount] [float] NULL,
	[NoOfAdults] [int] NULL,
	[NoOfChildren] [int] NULL,
	[GuestDetails] [varchar](500) NULL,
	[RoomCheckIn] [datetime] NULL,
	[RoomCheckOut] [datetime] NULL,
	[Remarks] [varchar](500) NULL,
	[RoomDays] [int] NULL,
	[TotalRoomRent] [float] NULL,
	[TotalExtraBedAmount] [float] NULL,
	[TotalAmount] [float] NULL,
	[ServiceAmount] [float] NULL,
	[FoodAmount] [float] NULL,
	[OtherAmount] [float] NULL,
	[OtherDetails] [varchar](200) NULL,
	[Discount] [float] NULL,
	[NetAmount] [float] NULL,
	[PaymentMode] [varchar](10) NULL,
	[PaymentDetails] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[BookingType] [varchar](50) NULL,
	[PlannedCheckIn] [datetime] NULL,
	[PlannedCheckOut] [datetime] NULL,
 CONSTRAINT [PK_BookingDetails] PRIMARY KEY CLUSTERED 
(
	[BookingDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingNo] [int] NULL,
	[BookingNoPrefix] [varchar](10) NULL,
	[BookingDateTime] [datetime] NULL,
	[BookingReferenceType] [varchar](50) NULL,
	[ReferenceDetails] [varchar](100) NULL,
	[CheckInTime] [datetime] NULL,
	[GuestName] [varchar](100) NULL,
	[GuestPlace] [varchar](100) NULL,
	[GuestPhone] [varchar](50) NULL,
	[GuestAddress] [varchar](500) NULL,
	[GuestAlternatePhone] [varchar](50) NULL,
	[GuestEmail] [varchar](100) NULL,
	[VisitPurpose] [varchar](100) NULL,
	[IdProofType] [varchar](50) NULL,
	[IdProofNo] [varchar](50) NULL,
	[Remarks] [varchar](500) NULL,
	[TotalAmount] [float] NULL,
	[TotalServiceAmount] [float] NULL,
	[TotalFoodAmount] [float] NULL,
	[TotalOtherAmount] [float] NULL,
	[NetAmount] [float] NULL,
	[AdvanceAmount] [float] NULL,
	[AdvancePaymentType] [varchar](20) NULL,
	[AdvancePaymentDetails] [varchar](100) NULL,
	[BookingStatus] [varchar](50) NULL,
	[CheckoutTime] [datetime] NULL,
	[BookingReferenceId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [int] NULL,
	[UpdatedBy] [datetime] NULL,
	[Age] [int] NULL,
	[BookingType] [varchar](50) NULL,
	[NoOfRooms] [int] NULL,
	[PlannedCheckIn] [datetime] NULL,
	[PlannedCheckOut] [datetime] NULL,
	[LedgerId] [int] NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Businesses]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Businesses](
	[BusinessID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessName] [varchar](200) NOT NULL,
	[Description] [varchar](500) NULL,
	[ManagerName] [varchar](100) NULL,
	[Address1] [varchar](200) NULL,
	[Address2] [varchar](200) NULL,
	[Place] [varchar](100) NULL,
	[District] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Country] [varchar](100) NULL,
	[ParentID] [int] NULL,
	[Phone1] [varchar](100) NULL,
	[Phone2] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[PAN] [varchar](50) NULL,
	[TAN] [varchar](50) NULL,
	[TIN] [varchar](50) NULL,
	[STAX] [varchar](50) NULL,
	[CST] [varchar](50) NULL,
	[Other1] [varchar](100) NULL,
	[Other2] [varchar](100) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Businesses] PRIMARY KEY CLUSTERED 
(
	[BusinessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BusinessSections]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessSections](
	[BusinessSectionID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
 CONSTRAINT [PK_BusinessSections] PRIMARY KEY CLUSTERED 
(
	[BusinessSectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LedgerGroups]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LedgerGroups](
	[LedgerGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](100) NOT NULL,
	[GroupType] [varchar](50) NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_LedgerGroups] PRIMARY KEY CLUSTERED 
(
	[LedgerGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LedgerJournals]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LedgerJournals](
	[LedgerJournalID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessID] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[LedgerID] [int] NOT NULL,
	[DrAmount] [float] NOT NULL,
	[CrAmount] [float] NOT NULL,
	[Narration] [varchar](250) NULL,
	[ChequeNo] [varchar](100) NULL,
	[EntryType] [varchar](50) NULL,
	[ReferenceID] [int] NULL,
	[DBEntryType] [varchar](10) NULL,
 CONSTRAINT [PK_LedgerJournals] PRIMARY KEY CLUSTERED 
(
	[LedgerJournalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ledgers]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ledgers](
	[LedgerID] [int] IDENTITY(1,1) NOT NULL,
	[LedgerName] [varchar](200) NOT NULL,
	[LedgerGroupID] [int] NOT NULL,
	[Track] [varchar](50) NULL,
	[FullName] [varchar](100) NULL,
	[Address] [varchar](250) NULL,
	[Place] [varchar](100) NULL,
	[State] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Pin] [varchar](20) NULL,
	[Phone1] [varchar](50) NULL,
	[Phone2] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[PAN] [varchar](50) NULL,
	[TAN] [varchar](50) NULL,
	[TIN] [varchar](50) NULL,
	[STax] [varchar](50) NULL,
	[CST] [varchar](50) NULL,
	[Other1] [varchar](50) NULL,
	[Other2] [varchar](50) NULL,
	[OpenningBalance] [float] NULL,
	[OpenningBalanceType] [int] NULL,
	[MasterBusinessID] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[GSTIN] [varchar](50) NULL,
	[Adhar] [varchar](50) NULL,
 CONSTRAINT [PK_Ledgers] PRIMARY KEY CLUSTERED 
(
	[LedgerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Measurements]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Measurements](
	[MeasurementID] [int] IDENTITY(1,1) NOT NULL,
	[MeasurementName] [varchar](50) NOT NULL,
	[MeasurementValue] [float] NULL,
	[MeasurementMasterValue] [float] NULL,
	[Priority] [int] NULL,
 CONSTRAINT [PK_Measurements] PRIMARY KEY CLUSTERED 
(
	[MeasurementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OBStockItems]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OBStockItems](
	[OBPurchaseDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[BusinessID] [int] NOT NULL,
	[PurchasePrice] [float] NULL,
	[Quantity] [float] NULL,
	[BatchNumber] [varchar](50) NULL,
	[Size] [varchar](50) NULL,
	[MfgDate] [varchar](50) NULL,
	[ExpDate] [varchar](50) NULL,
	[TransactionDate] [date] NULL,
	[SalePrice] [float] NULL,
 CONSTRAINT [PK_OBStockItems] PRIMARY KEY CLUSTERED 
(
	[OBPurchaseDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductGroups]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductGroups](
	[ProductGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](100) NOT NULL,
	[Description] [varchar](200) NULL,
	[ParentID] [int] NULL,
	[SectionID] [int] NULL,
 CONSTRAINT [PK_ProductGroups] PRIMARY KEY CLUSTERED 
(
	[ProductGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](200) NOT NULL,
	[Description] [varchar](500) NULL,
	[ProductGroupID] [int] NULL,
	[SectionID] [int] NULL,
	[MeasurementID] [int] NULL,
	[Accessories] [varchar](1000) NULL,
	[ImagePath] [varchar](200) NULL,
	[Status] [bit] NULL,
	[ProductCode] [varchar](50) NULL,
	[ProductTax] [float] NULL,
	[HSN] [varchar](100) NULL,
	[IGST] [float] NULL,
	[CGST] [float] NULL,
	[SGST] [float] NULL,
	[Percentage] [float] NULL,
	[OtherData1] [varchar](100) NULL,
	[OtherValue1] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductTaxMappings]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTaxMappings](
	[ProductTaxMappingID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[TaxID] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_ProductTaxMappings] PRIMARY KEY CLUSTERED 
(
	[ProductTaxMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseDetails]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PurchaseDetails](
	[PurchaseDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[PurchasePrice] [float] NOT NULL,
	[Quantity] [float] NULL,
	[Size] [varchar](50) NULL,
	[SerialNumber] [varchar](100) NULL,
	[IDNumber] [varchar](100) NULL,
	[BatchNumber] [varchar](50) NULL,
	[MfgDate] [varchar](50) NULL,
	[ExpDate] [varchar](50) NULL,
	[Tax] [float] NULL,
	[TaxAmount] [float] NULL,
	[SalePrice] [float] NULL,
	[BarCode] [varchar](100) NULL,
	[MRP] [float] NULL,
	[IGST] [float] NULL,
	[CGST] [float] NULL,
	[SGST] [float] NULL,
	[IGSTValue] [float] NULL,
	[CGSTValue] [float] NULL,
	[SGSTValue] [float] NULL,
	[CESS] [float] NULL,
	[CESSValue] [float] NULL,
	[Amount] [float] NULL,
 CONSTRAINT [PK_PurchaseDetails] PRIMARY KEY CLUSTERED 
(
	[PurchaseDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Purchases](
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[InvoiceNumber] [varchar](50) NULL,
	[InvoiceDate] [date] NULL,
	[DCNumber] [varchar](50) NULL,
	[DCDate] [varchar](50) NULL,
	[DCAmount] [float] NULL,
	[InvoiceAmount] [float] NULL,
	[VendorID] [int] NULL,
	[VendorName] [varchar](100) NULL,
	[Address] [varchar](250) NULL,
	[Place] [varchar](100) NULL,
	[FreightandHamali] [float] NULL,
	[TaxAmount] [float] NULL,
	[OtherCharges1] [float] NULL,
	[OtherCharges2] [float] NULL,
	[NetAmount] [float] NULL,
	[PurchaseCategory] [varchar](10) NULL,
	[IGSTValue] [float] NULL,
	[CGSTValue] [float] NULL,
	[SGSTValue] [float] NULL,
	[CESSValue] [float] NULL,
	[BillType] [int] NULL,
 CONSTRAINT [PK_Purchases] PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [varchar](20) NULL,
	[FloorNo] [varchar](20) NULL,
	[Details] [varchar](100) NULL,
	[TariffId] [int] NULL,
	[RoomStatus] [varchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoomServices]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomServices](
	[RoomServiceId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NULL,
	[RoomId] [int] NULL,
	[ServiceDateTime] [datetime] NULL,
	[ServiceType] [varchar](50) NULL,
	[ServiceDetails] [varchar](500) NULL,
	[ServiceAmount] [float] NULL,
	[ServiceTax] [float] NULL,
	[NetAmount] [float] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_RoomServices] PRIMARY KEY CLUSTERED 
(
	[RoomServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[SaleDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[SalePrice] [float] NOT NULL,
	[Quantity] [float] NOT NULL,
	[Discount] [float] NULL,
	[DiscountAmount] [float] NULL,
	[NetAmount] [float] NULL,
	[SerialNumber] [varchar](200) NULL,
	[IDNumber] [varchar](100) NULL,
	[BatchNumber] [varchar](50) NULL,
	[MfgDate] [varchar](20) NULL,
	[ExpDate] [varchar](50) NULL,
	[Tax] [float] NULL,
	[TaxAmount] [float] NULL,
	[Size] [varchar](50) NULL,
	[MRP] [float] NULL,
	[ProductName] [varchar](200) NULL,
	[IGST] [float] NULL,
	[CGST] [float] NULL,
	[SGST] [float] NULL,
	[IGSTValue] [float] NULL,
	[CGSTValue] [float] NULL,
	[SGSTValue] [float] NULL,
	[CESS] [float] NULL,
	[CESSValue] [float] NULL,
	[Amount] [float] NULL,
	[PurchasePrice] [float] NULL,
 CONSTRAINT [PK_SaleDetails] PRIMARY KEY CLUSTERED 
(
	[SaleDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SaleDetailTrackings]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetailTrackings](
	[SaleDetailTrackingID] [int] IDENTITY(1,1) NOT NULL,
	[SaleDetailsID] [int] NOT NULL,
	[PurchaseDetailsID] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
 CONSTRAINT [PK_SaleDetailTrackings] PRIMARY KEY CLUSTERED 
(
	[SaleDetailTrackingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[BillNumber] [int] NOT NULL,
	[BillNumberPrefix] [varchar](20) NULL,
	[ManualBillNumber] [varchar](20) NULL,
	[CustomerID] [int] NULL,
	[CustomerName] [varchar](100) NULL,
	[Address] [varchar](200) NULL,
	[Place] [varchar](100) NULL,
	[BillAmount] [float] NULL,
	[TaxAmount] [float] NULL,
	[Discount] [float] NULL,
	[DiscountAmount] [float] NULL,
	[FrieghtandHamali] [float] NULL,
	[OtherCharges1] [float] NULL,
	[OtherCharges2] [float] NULL,
	[NetAmount] [float] NULL,
	[SaleCategory] [varchar](10) NULL,
	[BillType] [int] NOT NULL,
	[Phone] [varchar](100) NULL,
	[IGSTValue] [float] NULL,
	[CGSTValue] [float] NULL,
	[SGSTValue] [float] NULL,
	[CESSValue] [float] NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAMSConfigurations]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAMSConfigurations](
	[ConfigKeyID] [int] IDENTITY(1,1) NOT NULL,
	[KeyName] [varchar](100) NOT NULL,
	[KeyValue] [varchar](200) NOT NULL,
 CONSTRAINT [PK_SAMSConfigurations] PRIMARY KEY CLUSTERED 
(
	[ConfigKeyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAMSUsers]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAMSUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[UserLevel] [varchar](100) NULL,
 CONSTRAINT [PK_SAMSUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sections](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [varchar](50) NOT NULL,
	[Description] [varchar](100) NULL,
	[Status] [bit] NOT NULL,
	[Priority] [int] NULL,
	[BillPrefix] [varchar](20) NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tariffs]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tariffs](
	[TariffId] [int] IDENTITY(1,1) NOT NULL,
	[TariffName] [varchar](50) NULL,
	[TariffType] [varchar](50) NULL,
	[Price] [float] NULL,
	[Tax] [float] NULL,
	[OtherCharges] [float] NULL,
	[OtherChargeDetails] [float] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Tariffs] PRIMARY KEY CLUSTERED 
(
	[TariffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Taxes]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxes](
	[TaxID] [int] IDENTITY(1,1) NOT NULL,
	[TaxValue] [float] NULL,
	[Priority] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Taxes] PRIMARY KEY CLUSTERED 
(
	[TaxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempDataValues]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempDataValues](
	[TempKeyID] [int] IDENTITY(1,1) NOT NULL,
	[TempDataKey] [varchar](100) NULL,
	[TempDataValue] [varchar](200) NULL,
 CONSTRAINT [PK_TempDataValues] PRIMARY KEY CLUSTERED 
(
	[TempKeyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 06-01-2021 15:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherType] [int] NOT NULL,
	[VoucherNo] [int] NOT NULL,
	[ManualVoucherNo] [varchar](50) NULL,
	[VoucherDate] [date] NULL,
	[FromLedger] [int] NULL,
	[ToLedger] [int] NULL,
	[Amount] [float] NULL,
	[ChqNo] [varchar](50) NULL,
	[Narration] [varchar](300) NULL,
	[BusinessID] [int] NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

SET IDENTITY_INSERT [dbo].[Bookings] OFF
SET IDENTITY_INSERT [dbo].[Businesses] ON 

SET IDENTITY_INSERT [dbo].[Businesses] OFF
SET IDENTITY_INSERT [dbo].[BusinessSections] ON 

INSERT [dbo].[BusinessSections] ([BusinessSectionID], [BusinessID], [SectionID]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[BusinessSections] OFF
SET IDENTITY_INSERT [dbo].[LedgerGroups] ON 

INSERT [dbo].[LedgerGroups] ([LedgerGroupID], [GroupName], [GroupType], [Status]) VALUES (1, N'CAPITAL ACCOUNTS', N'LIABILITY', 1)
INSERT [dbo].[LedgerGroups] ([LedgerGroupID], [GroupName], [GroupType], [Status]) VALUES (2, N'SUNDRY CREDITORS', N'LIABILITY', 1)
INSERT [dbo].[LedgerGroups] ([LedgerGroupID], [GroupName], [GroupType], [Status]) VALUES (4, N'SUNDRY DEBTORS', N'ASSET', 1)
SET IDENTITY_INSERT [dbo].[LedgerGroups] OFF
SET IDENTITY_INSERT [dbo].[Ledgers] ON 

INSERT [dbo].[Ledgers] ([LedgerID], [LedgerName], [LedgerGroupID], [Track], [FullName], [Address], [Place], [State], [Country], [Pin], [Phone1], [Phone2], [Email], [PAN], [TAN], [TIN], [STax], [CST], [Other1], [Other2], [OpenningBalance], [OpenningBalanceType], [MasterBusinessID], [Status], [CreatedDate], [ModifiedDate], [GSTIN], [Adhar]) VALUES (12, N'Sale A/c', 6, NULL, NULL, N'', N'', N'', NULL, N'', N'', NULL, N'', N'', NULL, N'', N'', N'', NULL, NULL, 100, 2, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Ledgers] ([LedgerID], [LedgerName], [LedgerGroupID], [Track], [FullName], [Address], [Place], [State], [Country], [Pin], [Phone1], [Phone2], [Email], [PAN], [TAN], [TIN], [STax], [CST], [Other1], [Other2], [OpenningBalance], [OpenningBalanceType], [MasterBusinessID], [Status], [CreatedDate], [ModifiedDate], [GSTIN], [Adhar]) VALUES (13, N'Discount A/c', 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Ledgers] ([LedgerID], [LedgerName], [LedgerGroupID], [Track], [FullName], [Address], [Place], [State], [Country], [Pin], [Phone1], [Phone2], [Email], [PAN], [TAN], [TIN], [STax], [CST], [Other1], [Other2], [OpenningBalance], [OpenningBalanceType], [MasterBusinessID], [Status], [CreatedDate], [ModifiedDate], [GSTIN], [Adhar]) VALUES (14, N'Frieght and Hamalic A/c', 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ledgers] OFF
SET IDENTITY_INSERT [dbo].[Measurements] ON 

INSERT [dbo].[Measurements] ([MeasurementID], [MeasurementName], [MeasurementValue], [MeasurementMasterValue], [Priority]) VALUES (1, N'Unit', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Measurements] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomNo], [FloorNo], [Details], [TariffId], [RoomStatus], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'101', N'1', NULL, 1, N'Available', NULL, NULL, NULL, NULL)
INSERT [dbo].[Rooms] ([RoomId], [RoomNo], [FloorNo], [Details], [TariffId], [RoomStatus], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'102', N'1', NULL, 1, N'Avaialble', NULL, NULL, NULL, NULL)
INSERT [dbo].[Rooms] ([RoomId], [RoomNo], [FloorNo], [Details], [TariffId], [RoomStatus], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'201', N'2', NULL, 2, N'Available', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[SAMSConfigurations] ON 

INSERT [dbo].[SAMSConfigurations] ([ConfigKeyID], [KeyName], [KeyValue]) VALUES (2, N'PurchaseLedger', N'34')
INSERT [dbo].[SAMSConfigurations] ([ConfigKeyID], [KeyName], [KeyValue]) VALUES (3, N'SaleLedger', N'12')
INSERT [dbo].[SAMSConfigurations] ([ConfigKeyID], [KeyName], [KeyValue]) VALUES (4, N'DiscountLedger', N'13')
SET IDENTITY_INSERT [dbo].[SAMSConfigurations] OFF
SET IDENTITY_INSERT [dbo].[SAMSUsers] ON 

INSERT [dbo].[SAMSUsers] ([UserID], [UserName], [Password], [Status], [UserLevel]) VALUES (1, N'mfmZ+EqKGrE=', N'mfmZ+EqKGrE=', 1, N'iPRIjgQGi2I=')
INSERT [dbo].[SAMSUsers] ([UserID], [UserName], [Password], [Status], [UserLevel]) VALUES (2, N'y+scKZ8TU6U=', N'y+scKZ8TU6U=', 1, N'+FWlXMkqCSc=')
INSERT [dbo].[SAMSUsers] ([UserID], [UserName], [Password], [Status], [UserLevel]) VALUES (3, N'J7QpvMkEcCc=', N'J7QpvMkEcCc=', 1, N'iPRIjgQGi2I=')
SET IDENTITY_INSERT [dbo].[SAMSUsers] OFF
SET IDENTITY_INSERT [dbo].[Sections] ON 

INSERT [dbo].[Sections] ([SectionID], [SectionName], [Description], [Status], [Priority], [BillPrefix]) VALUES (1, N'GS', NULL, 1, NULL, N'LM18')
SET IDENTITY_INSERT [dbo].[Sections] OFF
SET IDENTITY_INSERT [dbo].[Tariffs] ON 

INSERT [dbo].[Tariffs] ([TariffId], [TariffName], [TariffType], [Price], [Tax], [OtherCharges], [OtherChargeDetails], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Delux', N'Double', 2500, 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tariffs] ([TariffId], [TariffName], [TariffType], [Price], [Tax], [OtherCharges], [OtherChargeDetails], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Normal', N'Single', 1000, 0, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tariffs] OFF
SET IDENTITY_INSERT [dbo].[Taxes] ON 

INSERT [dbo].[Taxes] ([TaxID], [TaxValue], [Priority], [Status]) VALUES (4, 0, 1, 1)
INSERT [dbo].[Taxes] ([TaxID], [TaxValue], [Priority], [Status]) VALUES (5, 5, 2, 1)
INSERT [dbo].[Taxes] ([TaxID], [TaxValue], [Priority], [Status]) VALUES (6, 12, 3, 1)
SET IDENTITY_INSERT [dbo].[Taxes] OFF
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([VoucherID], [VoucherType], [VoucherNo], [ManualVoucherNo], [VoucherDate], [FromLedger], [ToLedger], [Amount], [ChqNo], [Narration], [BusinessID]) VALUES (1, 1, 1, N'', CAST(0xEA3E0B00 AS Date), 62, 17, 26000, N'', N'BALU GIVEN', 1)
INSERT [dbo].[Vouchers] ([VoucherID], [VoucherType], [VoucherNo], [ManualVoucherNo], [VoucherDate], [FromLedger], [ToLedger], [Amount], [ChqNo], [Narration], [BusinessID]) VALUES (2, 1, 2, N'', CAST(0xEC3E0B00 AS Date), 62, 17, 9232, N'', N'HDB-NOTE 5 ORO', 1)
INSERT [dbo].[Vouchers] ([VoucherID], [VoucherType], [VoucherNo], [ManualVoucherNo], [VoucherDate], [FromLedger], [ToLedger], [Amount], [ChqNo], [Narration], [BusinessID]) VALUES (3, 1, 3, N'', CAST(0xEF3E0B00 AS Date), 62, 17, 25000, N'', N'BALU GIVEN', 1)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
ALTER TABLE [dbo].[LedgerJournals] ADD  CONSTRAINT [DF_LedgerJournals_DrAmount]  DEFAULT ((0)) FOR [DrAmount]
GO
ALTER TABLE [dbo].[LedgerJournals] ADD  CONSTRAINT [DF_LedgerJournals_CrAmount]  DEFAULT ((0)) FOR [CrAmount]
GO
ALTER TABLE [dbo].[Purchases] ADD  CONSTRAINT [DF_Purchases_PurchaseCategory]  DEFAULT ('R') FOR [PurchaseCategory]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_SaleCategory]  DEFAULT ('R') FOR [SaleCategory]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_BillType]  DEFAULT ((1)) FOR [BillType]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Bookings]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Rooms]
GO
ALTER TABLE [dbo].[BusinessSections]  WITH CHECK ADD  CONSTRAINT [FK_BusinessSections_Businesses] FOREIGN KEY([BusinessID])
REFERENCES [dbo].[Businesses] ([BusinessID])
GO
ALTER TABLE [dbo].[BusinessSections] CHECK CONSTRAINT [FK_BusinessSections_Businesses]
GO
ALTER TABLE [dbo].[BusinessSections]  WITH CHECK ADD  CONSTRAINT [FK_BusinessSections_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[BusinessSections] CHECK CONSTRAINT [FK_BusinessSections_Sections]
GO
ALTER TABLE [dbo].[LedgerJournals]  WITH CHECK ADD  CONSTRAINT [FK_LedgerJournals_Businesses] FOREIGN KEY([BusinessID])
REFERENCES [dbo].[Businesses] ([BusinessID])
GO
ALTER TABLE [dbo].[LedgerJournals] CHECK CONSTRAINT [FK_LedgerJournals_Businesses]
GO
ALTER TABLE [dbo].[LedgerJournals]  WITH CHECK ADD  CONSTRAINT [FK_LedgerJournals_Ledgers] FOREIGN KEY([LedgerID])
REFERENCES [dbo].[Ledgers] ([LedgerID])
GO
ALTER TABLE [dbo].[LedgerJournals] CHECK CONSTRAINT [FK_LedgerJournals_Ledgers]
GO
ALTER TABLE [dbo].[Ledgers]  WITH CHECK ADD  CONSTRAINT [FK_Ledgers_LedgerGroups] FOREIGN KEY([LedgerGroupID])
REFERENCES [dbo].[LedgerGroups] ([LedgerGroupID])
GO
ALTER TABLE [dbo].[Ledgers] CHECK CONSTRAINT [FK_Ledgers_LedgerGroups]
GO
ALTER TABLE [dbo].[OBStockItems]  WITH CHECK ADD  CONSTRAINT [FK_OBStockItems_Businesses] FOREIGN KEY([BusinessID])
REFERENCES [dbo].[Businesses] ([BusinessID])
GO
ALTER TABLE [dbo].[OBStockItems] CHECK CONSTRAINT [FK_OBStockItems_Businesses]
GO
ALTER TABLE [dbo].[OBStockItems]  WITH CHECK ADD  CONSTRAINT [FK_OBStockItems_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OBStockItems] CHECK CONSTRAINT [FK_OBStockItems_Products]
GO
ALTER TABLE [dbo].[ProductGroups]  WITH CHECK ADD  CONSTRAINT [FK_ProductGroups_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[ProductGroups] CHECK CONSTRAINT [FK_ProductGroups_Sections]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Measurements] FOREIGN KEY([MeasurementID])
REFERENCES [dbo].[Measurements] ([MeasurementID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Measurements]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductGroups] FOREIGN KEY([ProductGroupID])
REFERENCES [dbo].[ProductGroups] ([ProductGroupID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductGroups]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sections]
GO
ALTER TABLE [dbo].[ProductTaxMappings]  WITH CHECK ADD  CONSTRAINT [FK_ProductTaxMappings_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductTaxMappings] CHECK CONSTRAINT [FK_ProductTaxMappings_Products]
GO
ALTER TABLE [dbo].[ProductTaxMappings]  WITH CHECK ADD  CONSTRAINT [FK_ProductTaxMappings_Taxes] FOREIGN KEY([TaxID])
REFERENCES [dbo].[Taxes] ([TaxID])
GO
ALTER TABLE [dbo].[ProductTaxMappings] CHECK CONSTRAINT [FK_ProductTaxMappings_Taxes]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_PurchaseDetails_Products]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetails_Products1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_PurchaseDetails_Products1]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetails_Purchases] FOREIGN KEY([PurchaseID])
REFERENCES [dbo].[Purchases] ([PurchaseID])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_PurchaseDetails_Purchases]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Businesses] FOREIGN KEY([BusinessID])
REFERENCES [dbo].[Businesses] ([BusinessID])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Businesses]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Ledgers] FOREIGN KEY([VendorID])
REFERENCES [dbo].[Ledgers] ([LedgerID])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Ledgers]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Sections]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Tariffs] FOREIGN KEY([TariffId])
REFERENCES [dbo].[Tariffs] ([TariffId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Tariffs]
GO
ALTER TABLE [dbo].[RoomServices]  WITH CHECK ADD  CONSTRAINT [FK_RoomServices_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[RoomServices] CHECK CONSTRAINT [FK_RoomServices_Bookings]
GO
ALTER TABLE [dbo].[RoomServices]  WITH CHECK ADD  CONSTRAINT [FK_RoomServices_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[RoomServices] CHECK CONSTRAINT [FK_RoomServices_Rooms]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Products]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SalesID])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
ALTER TABLE [dbo].[SaleDetailTrackings]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetailTrackings_PurchaseDetails] FOREIGN KEY([PurchaseDetailsID])
REFERENCES [dbo].[PurchaseDetails] ([PurchaseDetailsID])
GO
ALTER TABLE [dbo].[SaleDetailTrackings] CHECK CONSTRAINT [FK_SaleDetailTrackings_PurchaseDetails]
GO
ALTER TABLE [dbo].[SaleDetailTrackings]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetailTrackings_SaleDetails] FOREIGN KEY([SaleDetailsID])
REFERENCES [dbo].[SaleDetails] ([SaleDetailsID])
GO
ALTER TABLE [dbo].[SaleDetailTrackings] CHECK CONSTRAINT [FK_SaleDetailTrackings_SaleDetails]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Businesses] FOREIGN KEY([BusinessID])
REFERENCES [dbo].[Businesses] ([BusinessID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Businesses]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Ledgers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Ledgers] ([LedgerID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Ledgers]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Sections]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_Ledgers] FOREIGN KEY([FromLedger])
REFERENCES [dbo].[Ledgers] ([LedgerID])
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [FK_Vouchers_Ledgers]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_Ledgers1] FOREIGN KEY([ToLedger])
REFERENCES [dbo].[Ledgers] ([LedgerID])
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [FK_Vouchers_Ledgers1]
GO
USE [master]
GO
