<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
	<connectionStrings>
		<add name="SAMSEntities" connectionString="metadata=res://*/SAMSDataModel.csdl|res://*/SAMSDataModel.ssdl|res://*/SAMSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-B1T79LL\SQLEXPRESS;Initial Catalog=cosmo010721;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>

	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="SkinName" value="BlackSkin"/>
    <add key="DefalutBusinessName" value="GCS SAMS App"/>
  </appSettings>
</configuration>
